@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BC Library!</h1>
    <a asp-page="/Identity/Signup"class="btn btn-primary">Sign Up</a>
    <a asp-page="/Identity/Login"class="btn btn-primary">Log In</a>
</div>
